/* Generell styling - START */

table td { 
    border: 1px solid hotpink;
}

td {
    height: 150px;
    width: 150px;
    font-size: 69px;
    text-align: center;
}

#winning-text, #final-winning-text {
    display: none;
}

#winning-text img, #final-winning-text img {
    display: block;
}

#winning-text button, #final-winning-text button {
    margin-top: 10px;
}

section {
    width: 800px;
    margin: auto;
    position: relative;
}

.floating-box {
    position: absolute;
    padding: 2vh;
    border: 1px solid #000000;
    background-color:#ffffff;
    border-radius: 10px;
    font-weight: bold;
    color: #000000;
    right: 0;
}

.floating-box span {
    text-decoration: underline;
}

.floating-box div {
    text-align: center;
}

#round-2 {
    display: none;
}

#round-3 {
    display: none;
}

/* Generell styling - END */

/* Thorbjørns style - START */

.grid-1 {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    max-width: 450px;
}

.grid-1 div {
    border: 1px solid black;
    min-width: 150px;
    min-height: 150px;
}

.grid-1 div:hover {
    cursor: pointer;
    background: rgba(193, 66, 66, 0.3);
}

/* Thorbjørns style - END */

/* Marius style - START */

.flexbox-container {
    display: flex;
    width: 450px;
    flex-wrap: wrap;
    border: 1px solid #000000;
}

.flexbox-container div {
    background-color: #ffffff;
    width: 150px;
    height: 150px;
    cursor: pointer;
    transition: .3s;
}

.flexbox-container div:hover {
    background-color: #dd7d00 !important;
}

.flexbox-container div:nth-child(odd) {
    background-color: rgb(100, 100, 100);
}

/* Marius style - END */

/* Thomas style - START */

.row {
    width: 456px;
}

.row div {
    box-sizing: border-box;
    float: left;
    border-radius: 5px;
    border: 5px;
    background-color: blue;
    margin: 1px;
    width: 150px;
    height: 150px;
    
}

.row div:hover{
    background-color: lightcoral;
}

#float-container {
    width: 456px;
    height: 456px;
}

/* Thomas style - END */